:root {
    --WHITE: #FFFFFF;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE);
    background-color: var(--WHITE);
}

/* Typography */
.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.body-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.body-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

/* Typography */

ul {
    list-style: none;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    margin: 0 auto;
}

.logo {
    color: var(--IRIS);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo span {
    color: var(--NAVY-BLUE);
}

header .logo {
    margin-right: 76px;
}

.navigation-list-item a {
    color: var(--NAVY-BLUE);
}

.navigation-list-item a:hover,
.navigation-list-item a:focus {
    color: var(--OCEAN);
}

.address {
    font-style: normal;
}

.address-list-item a {
    font-style: normal;
    color: var(--SLATE);
}

.address-list-item a:hover,
.address-list-item a:focus {
    color: var(--OCEAN);
}

.main-section {
    background: var(--NAVY-BLUE);
}

.title {
    color: var(--WHITE);
    text-align: center;
}

.main-button {
    padding: 16px 32px;
    background: var(--IRIS);
    color: var(--WHITE);
    border: none;
}

.main-button:hover,
.main-button:focus {
    background: var(--OCEAN);
}

.advantages-list-item h3 {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE);
}

.advantages-list-item p {
    color: var(--SLATE);
}

.team-section {
    background: var(--CLOUD);
}

.team-section-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-list-item {
    padding-bottom: 32px;
    background: var(--WHITE);
}

.team-list-item img {
    margin-bottom: 32px;
}

.team-list-item-header {
    margin-bottom: 8px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
}

.portfolio-section-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.portfolio-list-item {
    background: var(--WHITE);
}

.portfolio-list-item-holder h3 {
    margin-bottom: 8px;
    text-transform: capitalize;
}

/* MAIN */

.footer {
    background: var(--NAVY-BLUE);
}

.footer .logo {
    margin-bottom: 18px;
}

.footer .logo span {
    color: var(--CLOUD);
}

.footer-text {
    color: var(--CLOUD);
}
